.advertisement {
  background-color: #f1f1f1;
  padding: 10px;
  height: 50vh;
  margin-bottom: 10px;
  cursor: pointer;
}

.advertisement img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.pagination-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination-button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  cursor: pointer;
}

.pagination-button:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
}

.footer {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid rgb(201, 186, 186);
}