.posts {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #c0aeae;
}

.posts-card {
    border-bottom: 1px solid #c0b0b0;
    padding: 10px 0;
}

.posts-header {
    display: flex;
    align-items: center;
}

.posts-header img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.posts-content {
    margin-top: 10px;
}

.posts-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.actions {
    display: flex;
    align-items: center;
}

.actions button, .PiArrowFatUp {
    margin: 10px ;
    cursor: pointer;
    font-size: 20px;
}

.edit-delete {
    display: flex;
    justify-content:flex-end;
    /* padding: 16px; */
    align-items: center;
    border-top: 1px solid #ddd;
  }
  
  .edit-delete button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
  }
  
  .edit-delete button:hover {
    color: #000;
  }

.follow {
    cursor: pointer;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(7, 93, 146);
}

.posts-date {
    font-size: 13px;
    color: #999;
    margin-left: 10px;
    display: block;
    flex-direction: column;
}

.posts-content h2 {
    color: rgb(7, 93, 146);
}

.actions .upvote {
    color: rgb(7, 93, 146);
}

.actions .downvote {
    color: red;
}

.comment-button{
    cursor: pointer;
    background-color: #0a3bdb;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(244, 249, 252);
}

.delete-button {
    cursor: pointer;
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(244, 249, 252);
}

.answer-button {
    cursor: pointer;
    background-color: #0a3bdb;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(244, 249, 252);
}