.question {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
}

.question-title {
    display: flex;
    align-items: center;
}

.question-body {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}